@charset "utf-8";

.about_inner,
.menu_inner,
.event_inner {
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

/* コンテンツ幅指定 ↑↑*/

body {
    background-color: #e8d9bf;
}

header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    color: #fff;
    font-family:
        "游ゴシック体",
        YuGothic,
        "游ゴシック",
        "Yu Gothic",
        "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 105px;
    text-align: center;
}

.about_contents {
    max-width: 1000px;
    display: flex;
}

.about_catch {
    text-align: center;
}

.about_catch_main {
    font-size: 82px;
}

.about_catch_sub1 {
    font-size: 30px;
    margin-top: 104px;
    margin-bottom: 46px;
}

.about_catch_sub2 {
    font-size: 23px;
    margin-top: 20px;
}

/* ABOUT US */
.about_inner {
    max-width: 1000px;
}

.about .main_logo {
    width: 272px;
    margin-top: 150px;
}

.about_image img {
    border-bottom-right-radius: 50px;
    width: 50%;
    /* 写真の大きさを％で指定しようとしたらとんでもなく小さくなってしまうのはなぜですか（泣） */

}

.about_maintext {
    font-size: 44px;
    margin-top: 48px;
    margin-bottom: 23px;
}

.about_subtext {
    max-width: 21%;
    text-align: justify;
}

/* 親要素にまとめて横幅指定しても良いとの解説ありましたが、長文の文字ボックス、ABOUT USの文字それぞれ横幅違うので、まとめると全て同じ横幅になってしまいました。。。まとめて指定するやり方教えて欲しいです。 */

/* MENU */

.menu_inner {
    margin-left: 460px;
    margin-right: 460px;
    /* なぜか右に寄ってしまう原因がわかりませんでした。。。 */
}

.menu .main_logo {
    width: 151px;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 39px;
}

.menu_list {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    gap: 50px;
    width: 300px;


}

.menu_item img {
    border-top-right-radius: 40px;
    /* こちらも％で指定したらとても小さくなってしまいました。 */
}

.menu_item {
    position: relative;
}

.menu_item p {
    width: 300px;
    margin-top: 44px;
    text-align: left;
    font-size: 17px;
}


.menu_list h3 {
    color: #d30202;
    font-size: 38px;
    text-align: left;
    padding-left: 12px;
    position: absolute;
    top: 188px;
    left: 0;
}

/* GALLERY */
.gallery .main_logo {
    width: 245px;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 16px;
}

.gallery_list {
    display: flex;
}

.gallery_list img {
    width: 100%;
}

/* EVENT */
.event .main_logo {
    width: 173px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}


.event_list {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* イラレのデータは文字ボックスで作成されており行間わからなかったので、定規ツールで文字と文字の間測って大体20pxだったのでgap:20にしてます */
    padding: 2% 9% 2% 8%;
    border: 3.5px solid #4f260b;
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    /* ボックス内、できてるように見えてイラレのデータと若干違うような気がします。気のせいでしょうか。。。 */
}

.event_list li {
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.event_list time {
    width: 120px;
}

.event_list p {
    border-bottom: 1px solid #4f260b;

}

/* ACCESS */
.access .main_logo {
    width: 213px;
    margin: 0 auto;
    margin-top: 68px;
    margin-bottom: 37px;
}

.access_map iframe {
    display: block;
    width: 100%;
    height: 471px;
}

/* footer */

.footer_logo {
    width: 227px;
}

footer {
    background-color: #fff;
}

/* コンテンツ幅指定すると背景もコンテンツ幅と同じになってしまいました。色々トライしたのですがうまくいかないので教えて欲しいです。 */