@charset "utf-8";



.menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    /* gap: 50px; */
    justify-content: space-between;
    max-width: 900px;
    align-items: center;

}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;

}

.box {
    width: 30%;
    height: 300px;
    background: orange;
    border: 1px solid black;

}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        padding: 0 10px;
    }

    .box {
        width: 100%;
    }
}