@charset "utf-8";

.inner {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
    font-size: 15px;
}

.menu li {
    border-right: 1px solid;
    padding-right: 30px;
    line-height: 2;
}

.menu li:last-child {
    border-right: none;
}

.container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.box {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.container.red {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
}

.red-box {
    width: 300px;
    height: 300px;
    background-color: red;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {

    .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin-bottom: 0px;
    }

    .menu {
        flex-direction: column;
        gap: 0;
        margin-left: 0;

    }

    .menu li {
        border-right: none;
        border-bottom: 1px solid;
        padding: 5px 0;
        width: 100%;
        box-sizing: border-box;

    }
}