body {
    margin: 0;
}

.service {
    background-color: #eeeeee;
    padding: 60px 0;
}

.service-title {
    text-align: center;
    color: #2e8b7a;
    font-size: 28px;
    margin-bottom: 40px;
}

.service-list {
    width: 960px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.service-item {
    background-color: #fff;
    width: calc((960px - 40px) / 3);
}

.service-item img {
    width: 100%;
    display: block;
}

.service-text {
    padding: 15px;
}

.service-text h3 {
    font-size: 18px;
    color: #298372;
    padding-left: 10px;
    border-left: 10px solid #298372;
    margin-bottom: 10px;
}

.service-text p {
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (max-width: 400px) {
    .service-list {
        width: 100%;
        flex-direction: column;
        padding: 0 10px;
    }

    .service-item {
        width: 100%;
    }

    .service-item img {
        width: 100%;
    }
}